@inject IAddonReader addonReader
@inject AddonConfigurator addonConfigurator
@inject ExecGameCommand exec

<Button Color="ButtonColor.Primary" @onpointerup="InitState">
    Init State
</Button>

@code {
    private void InitState()
    {
        addonReader.FullReset();
        // TODO: this is a hack, we need to find a way to run the command without the need of warmup
        exec.Run("");
        exec.Run($"/{addonConfigurator.Config.CommandFlush}");
    }
}