@using Core.Goals
@using Core.Database
@using System.Linq
@using System.Numerics
@using System.Timers
@using System.Buffers

@inject IAddonReader addonReader
@inject IBotController botController

@inject DataConfig dataConfig
@inject CombatLog combatLog
@inject PlayerReader PlayerReader
@inject AddonBits Bits
@inject IJSRuntime jsRuntime
@inject WorldMapAreaDB worldmapAreaDB
@inject AreaDB areaDB


@implements IDisposable

<style>
    .adtText {
    color: white;
    background-color: #00000099;
    width: 50px;
    text-align: center;
    }


    .poiatlas {
    background-image: url('_content/Frontend/img/atlas.png');
    background-repeat: no-repeat;
    background-position: 32px 32px;
    }

    .flash {
    animation: flash-effect 0.3s ease-in-out;
    }

    @@keyframes flash-effect {
    0% {
    background-color: #ffff99;
    }

    100% {
    background-color: transparent;
    }
    }

    .specText {
    opacity: 0.8;
    background-color: #222;
    border-radius: 4px;
    color: #fff;
    height: 26px;
    left: 60px;
    padding: 2px;
    position: absolute;
    text-align: center;
    z-index: 1000;
    font-size: 16px;
    }

    #adtClick {
    top: 20px;
    }

    #worldClick {
    top: 60px;
    }

    #mapClick {
    top: 100px;
    }

    #subZoneName {
    top: 140px;
    }

</style>


<Card>
    <CardHeader>
        <div class="d-flex">
            <div class="p-2 flex-grow-1 bd-highlight">
                Leaflet
            </div>

            <div class="p-2 bd-highlight">
                [@PlayerReader.MapX.ToString("00.0000"),@PlayerReader.MapY.ToString("00.0000")] @(AreaName) (@PlayerReader.UIMapId.Value)
            </div>
        </div>
    </CardHeader>

    <CardBody style="padding: 0 0 0 0">
        <div id="js-map" style="height:@(Size);background-color:rgb(0 29 40);">
            @if(Edit)
            {
                <div class="specText" id="adtClick"></div>
                <div class="specText" id="worldClick"></div>
                <div class="specText" id="mapClick"></div>
                <div class="specText" id="subZoneName"></div>
            }
        </div>
    </CardBody>
</Card>

@code {

    [Parameter]
    public string Size { get; set; } = "400px";

    [Parameter]
    public bool Edit { get; set; } = false;

    private string AreaName { get; set; } = string.Empty;

    [Parameter] public string expansion { get; set; } = "som";
    [Parameter] public string continent { get; set; } = "Azeroth";
    [Parameter] public int zoom { get; set; } = 5;
    [Parameter] public float x { get; set; } = 0;
    [Parameter] public float y { get; set; } = 0;

    private Timer refreshTimer = new Timer();
    private Vector3 lastPos;
    private float lastDir;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            continent = PlayerReader.WorldMapArea.Continent;

            await jsRuntime.InvokeVoidAsync("init", 
                expansion ?? "som",
                continent ?? "Azeroth", zoom, x, y, Edit);

            ActionZoneChangedAction();
        }
    }

    protected override void OnInitialized()
    {
        botController.ProfileLoaded += OnProfileLoaded;
        addonReader.AddonDataChanged += OnAddonDataChanged;
        areaDB.Changed += OnZoneChanged;
        //combatLog.PlayerDeath += OnPlayerDeath;

        UpdateZoneName();
        //UpdateDeaths();
        //UpdateSymbol();

        //botController.RouteInfo?.SetRouteSource(null);

        if (!refreshTimer.Enabled)
        {
            refreshTimer.Interval = 100;
            refreshTimer.Enabled = true;

            refreshTimer.Elapsed += OnTimerTick;

            refreshTimer.Start();
        }
    }

    public void Dispose()
    {
        refreshTimer.Dispose();

        botController.ProfileLoaded -= OnProfileLoaded;
        addonReader.AddonDataChanged -= OnAddonDataChanged;
        areaDB.Changed -= OnZoneChanged;
        // combatLog.PlayerDeath -= OnPlayerDeath;
    }

    private void OnAddonDataChanged()
    {
        base.InvokeAsync(OnAddonDataChangedAction);
    }

    private void OnAddonDataChangedAction()
    {
        StateHasChanged();
    }

    private void UpdateZoneName()
    {
        AreaName = PlayerReader.WorldMapArea.AreaName;
    }

    private void OnZoneChanged()
    {
        base.InvokeAsync(ActionZoneChangedAction);
    }

    private void OnProfileLoaded()
    {
        if (botController.ClassConfig == null) return;

        foreach (var pathSettings in botController.ClassConfig.Paths)
        {
            var pathName = Path.GetFileNameWithoutExtension(pathSettings.FileName);
            jsRuntime.InvokeVoidAsync("loadMapPathByFilter", pathName).ConfigureAwait(false);
        }
    }

    private void ActionZoneChangedAction()
    {
        UpdateZoneName();

        InvokeAsync(async () =>
        {
            await jsRuntime.InvokeVoidAsync("updateArea",
                PlayerReader.WorldMapArea.AreaID);

            await UpdatePlayerPos();
        });

        StateHasChanged();
    }

    private async Task UpdatePlayerPos()
    {
        await jsRuntime.InvokeVoidAsync("setPlayerLocation",
            PlayerReader.WorldPos.X, PlayerReader.WorldPos.Y, PlayerReader.Direction);
    }

    private void OnTimerTick(object? s, ElapsedEventArgs e)
    {
        if (PlayerReader.WorldPos == lastPos && PlayerReader.Direction == lastDir) return;

        UpdatePlayerPos().ConfigureAwait(false);

        lastPos = PlayerReader.WorldPos;
        lastDir = PlayerReader.Direction;
    }
}
